**/converge.yml linguist-language=Ansible linguist-vendored=false
**/create.yml linguist-language=Ansible linguist-vendored=false
**/destroy.yml linguist-language=Ansible linguist-vendored=false
**/hana_cockpit.yml linguist-language=Ansible linguist-vendored=false
**/hana_demo_db.yml linguist-language=Ansible linguist-vendored=false
**/hana_install.yml linguist-language=Ansible linguist-vendored=false
**/hana_post_install_steps.yml linguist-language=Ansible linguist-vendored=false
**/main.yml linguist-language=Ansible linguist-vendored=false
**/molecule.yml linguist-language=Ansible linguist-vendored=false
**/os_prep.yml linguist-language=Ansible linguist-vendored=false
**/prepare.yml linguist-language=Ansible linguist-vendored=false
**/sap-b1-linux-server-components.yml linguist-language=Ansible linguist-vendored=false
**/verify.yml linguist-language=Ansible linguist-vendored=false
*.gitattributes linguist-language=Git linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.j2 linguist-language=J2 linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.rst linguist-language=Rst linguist-vendored=false
*.yamllint linguist-language=Yamllint linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
