--Create user and set password:
CREATE USER B1ADMIN PASSWORD "{{ b1admin_password }}";
GRANT MODELING TO B1ADMIN;
ALTER USER B1ADMIN DISABLE PASSWORD LIFETIME;



--ROLES (PUBLIC ROLE is created already when creating user):
GRANT AFLPM_CREATOR_ERASER_EXECUTE TO B1ADMIN WITH ADMIN OPTION; -- Grantable to other users and roles
GRANT CONTENT_ADMIN TO B1ADMIN;



--System privileges:
GRANT USER ADMIN TO B1ADMIN WITH ADMIN OPTION; -- Grantable to other users and roles
GRANT CATALOG READ TO B1ADMIN WITH ADMIN OPTION; -- Grantable to other users and roles
GRANT CREATE SCHEMA TO B1ADMIN WITH ADMIN OPTION; -- Grantable to other users and roles
GRANT ROLE ADMIN TO B1ADMIN WITH ADMIN OPTION; -- Grantable to other users and roles
GRANT IMPORT TO B1ADMIN;
GRANT EXPORT TO B1ADMIN;
GRANT INIFILE ADMIN TO B1ADMIN;
GRANT BACKUP ADMIN TO B1ADMIN WITH ADMIN OPTION;
GRANT SESSION ADMIN TO B1ADMIN WITH ADMIN OPTION;

GRANT LOG ADMIN TO B1ADMIN; -- This is needed if this database user is used to run the migration wizard to migrate your company databases from the Microsoft SQL Server to the SAP HANA server
-- SQL object privileges:
GRANT SELECT ON SCHEMA "SYSTEM" TO B1ADMIN;
GRANT CREATE ANY ON SCHEMA "SYSTEM" TO B1ADMIN;
GRANT SELECT ON SCHEMA "_SYS_REPO" TO B1ADMIN WITH GRANT OPTION;
GRANT EXECUTE ON SCHEMA "_SYS_REPO" TO B1ADMIN WITH GRANT OPTION;
GRANT DELETE ON SCHEMA "_SYS_REPO" TO B1ADMIN WITH GRANT OPTION;