<?xml version="1.0" encoding="UTF-8"?>
<!-- Replace the 3 asterisks with the password -->
<Passwords>
    <sapadm_password><![CDATA[{{ hana_password }}]]></sapadm_password>
    <password><![CDATA[{{ hana_password }}]]></password>
    <system_user_password><![CDATA[{{ password_system_user }}]]></system_user_password>
    <master_password><![CDATA[{{ hana_password }}]]></master_password>
</Passwords>
