# N/A
API_AUTHENTICATION_SERVICE_PORT=60010
# N/A
API_GATEWAY_SERVICE_PORT=60000
# Set AutoStart for SAMBA service?
B1S_SAMBA_AUTOSTART=true
# Set Allow Guest for SAMBA service?
B1S_SAMBA_GUEST=yes
# Overwrite the existing B1 Shared folder?
B1S_SHARED_FOLDER_OVERWRITE=true
# Password for B1 tech user.
B1S_TECHUSER_PASSWORD={{ b1site_password }}
# B1 service user
B1_SERVICE_USER=B1SiteUser
# Compress backups
BCKP_BACKUP_COMPRESS=true
# N/A
BCKP_HANA_SERVERS=<servers><server><system address="{{ hostname }}"/><database instance="{{ number }}" port="30013" tenant-db="{{ sid }}" user="B1ADMIN" password="{{ b1admin_password }}"/></server></servers>
# Log files location
BCKP_PATH_LOG=/var/log/SAPBusinessOne/BackupService/logs
# Backup location
BCKP_PATH_TARGET={{ backup_path }}/backup_service/backups
# Working folder
BCKP_PATH_WORKING=/tmp/backup_service
# Create default CD Repository
CD_REPOSITARY_ACTION=create
# Create Central Log Repository
CENTRAL_LOG_ACTION=create
# Central log repository user password.
CENTRAL_LOG_PASSWORD={{ b1site_password }}
# Path to central log repository.
CENTRAL_LOG_PATH={{ usr_sap_path }}/SAPBusinessOne/ServerTools/SLD/CentralLogFolder
# Central log repository username under which is shared.
CENTRAL_LOG_USER=B1SiteUser
# Delete Shared Folder during uninstall
DELETE_B1_SHR=false
# Port used by Electronic Document Service
EDS_PORT=7299
# HANA DB Server instance
HANA_DATABASE_INSTANCE={{ number }}
# HANA DB Server name or IP
HANA_DATABASE_SERVER={{ hostname }}
# HANA DB Server Port
HANA_DATABASE_SERVER_PORT=30013
# Name of tenant database for Multiple Container Mode
HANA_DATABASE_TENANT_DB={{ sid }}
# HANA DB User ID
HANA_DATABASE_USER_ID=B1ADMIN
# HANA DB Password
HANA_DATABASE_USER_PASSWORD={{ b1admin_password }}
# HANA DB server will be restarted after installation/uninstallation
HANA_OPTION_RESTART=true
# Installation folder
INSTALLATION_FOLDER={{ usr_sap_path }}/SAPBusinessOne
# Correct Permissions on installation folder
INST_FOLDER_CORRECT_PERMISSIONS=false
# SLD Landscape Installation Type
LANDSCAPE_INSTALL_ACTION=create
# Node type of License Server
LICENSE_SERVER_NODE=standalone
# Network address of local machine
LOCAL_ADDRESS={{ hostname }}
# Path to central log repository.
NETWORK_CENTRAL_LOG_PATH=\\{{ hostname }}\B1_CENTRAL_LOG_REPOSITORY
# Path to repository where DVD is copied.
NETWORK_REPOSITORY_PATH=\\{{ hostname }}\B1_CLIENT
# Repository username password.
REPOSITORY_PASSWORD={{ b1site_password }}
# Path to repository where DVD is copied.
REPOSITORY_PATH={{ usr_sap_path }}/B1_client
# Repository username under which is shared.
REPOSITORY_USER=B1SiteUser
# Features selected for installation/uninstallation/upgrade
SELECTED_FEATURES=B1ServerToolsSLD,B1ServerToolsExtensionManager,B1ServerToolsLicense,B1ServerToolsJobService,B1ServerToolsMobileService,B1ServerToolsXApp,B1SLDAgent,B1WebClient,B1BackupService,B1ServerSHR,B1ServerCommonDB,B1ServerHelp_EN,B1ServerAddons,B1ServerOI,B1AnalyticsOlap,B1AnalyticsTomcatEntSearch,B1AnalyticsTomcatDashboard,B1AnalyticsTomcatReplication,B1AnalyticsTomcatConfiguration,B1AnalyticsTomcatPredictiveAnalysis,B1ServiceLayerComponent,B1ElectronicDocumentService,B1APIGatewayService
# Service Port
SERVICE_PORT=40000
# Site User ID
SITE_USER_ID=B1SiteUser
# Site User Password
SITE_USER_PASSWORD={{ b1site_password }}
# SLD Certificate Action
SLD_CERTIFICATE_ACTION=self
# SLD Database Name
SLD_DATABASE_ACTION=create
# SLD Database Name
SLD_DATABASE_NAME=SLDDATA
# Landscape Server Address
SLD_SERVER_ADDR={{ hostname }}
# Landscape Server Port
SLD_SERVER_PORT=40000
# Landscape Server Protocol
SLD_SERVER_PROTOCOL=https
# Landscape Server Type Ondemand/OnPremise
SLD_SERVER_TYPE=op
# HANA Patch 2411
SLD_CERTIFICATE_FILE_PATH=no
{# SLD_CERTIFICATE_PASSWORD= #}
# Windows Domain Action
{% if sld_windows_domain_action == "skip" %}
sld_windows_domain_action={{ sld_windows_domain_action }}
{% else %}
sld_windows_domain_action=use
# Windows domain controller
SLD_WINDOWS_DOMAIN_CONTROLLER={{ primary_dc_ip }}
# Fully-qualified domain name
SLD_WINDOWS_DOMAIN_NAME={{ hostname }}.{{ new_domain }}
# Domain user name
SLD_WINDOWS_domainuser_ID={{ domainuser }}
# Password for the domain user
SLD_WINDOWS_domainuser_password={{ domainuser_password }}
{% endif %}
# Service Layer load balancer member(s)
SL_LB_MEMBERS=127.0.0.1:50001,127.0.0.1:50002,127.0.0.1:50003,127.0.0.1:50004
# Install Service Layer load balancer member(s) only
SL_LB_MEMBER_ONLY=false
# Service Layer load balancer port number
SL_LB_PORT=50000
# Maximum threads per Service Layer load balancer member
SL_THREAD_PER_SERVER=24
# Port used by Web Client
WEBCLIENT_PORT=1443
